@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Используем для нормального расчета размера элементов */
}

body {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  height: 100vh; /* Установка высоты на 100% от высоты окна браузера */
  display: flex; /* Используем Flexbox для центрирования контента при необходимости */
  align-items: center; /* Центрируем по вертикали */
  justify-content: center; /* Центрируем по горизонтали */
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  background: #000000;
  width: 100%;
  height: 100%; /* Установка высоты на 100% от родительского элемента */
  position: absolute; /* Позволяет занять всю доступную область */
  top: 0;
  left: 0;
}

   .container {
     width: 85%; /* 90% от родительского элемента */
     max-width: 1000px; /* Максимальная ширина 1000 пикселей */
     margin: 0 auto;
   }

.knop {
  padding-bottom: 25px;
  padding-left: 0px;
  padding-right: 0px;
  position: absolute;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  font-weight: 800;
  background: #111111;
  padding: 15px 17px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/*.active {
  padding-left: 95px;
  font-size: 20px;
  font-weight: 800;
}

.tasks {
  padding-right: -250px;
  font-size: 20px;
  font-weight: 800;
}

.store {
  padding-right: -20px;
  font-size: 20px;
  font-weight: 800;
}

.btn {
  padding-right: -30px;
  font-size: 20px;
  font-weight: 800;
}*/

.balance-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.plus {
    position: absolute;
    font-size: 35px;
    color: #fff;
    transition: transform 0.5s ease, opacity 0.5s ease;
    pointer-events: none; /* Чтобы клики не срабатывали на "плюсе" */
}

header {
  padding: 40px 0;
}

header .logo {
  position: relative;
  font-size: 20px;
  font-weight: 800;
  /*background: red;
  padding: 9px 17px;
  border-radius: 8px;*/
}

nav {
  float: right;
  width: 50%;
}

.knop {
  list-style: none;
  display: flex;
  justify-content: center;
}

.knop li {
  margin: 0 15px; /* Добавляем отступы по горизонтали */
  display: inline-block;
}

.knop li a {
  color: #fff
}

.knop li a:not(.palka):not(.palka1):not(.palka2):hover {
  border-bottom: 5px solid #fff;
  border-radius: 5px;
}

.knop li.active a:not(.palka) {
  background: #222222;
  padding: 5px 15px;
  border-radius: 8px;
  transition: all 500ms ease;
}

.knop li.tasks a:not(.palka1) {
  background: #222222;
  padding: 5px 15px;
  border-radius: 8px;
  transition: all 500ms ease;
}

.knop li.store a:not(.palka2) {
  background: #222222;
  padding: 5px 15px;
  border-radius: 8px;
  transition: all 500ms ease;
}

.knop li.btn a {
  background: #222222;
  padding: 5px 15px;
  border-radius: 8px;
  transition: all 500ms ease;
}

.knop li.active a:hover {
  background: #444444;
}

.knop li.tasks a:hover {
  background: #444444;
}

.knop li.store a:hover {
  background: #444444;
}

header .hour {
  text-align: right;
  font-size: 20px;
}

header .hour {
  position: relative;
  left: 180px;
  transform: translateX(-50%);
}

#main {
  display: block;
}

#tasks {
  display: none;
  text-align: center;
}

#store {
  display: none;
}

.screen {
  background-color: #000000;
  position: absolute;
  padding: 0px 180px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tasks1 {
  bottom: 10px;
  background: #222222;
  padding: 4px;
  border-radius: 10px;
  font-weight: 800;
}

.i {
  position: absolute;
  background: #222222;
  padding: 9px 5px;
  border-radius: 20px;
}

.job1 {
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translateY(-50%);
  background: #222222;
  padding: 15px 19px 400px;
  border-radius: 9px;
}

.job1 i {
  font-size: 30px;
}

.job2 {
  position: absolute;
  left: 8%;
  top: 28%;
  transform: translateY(-50%);
  font-size: 23px;
}

.job2 i {
  font-size: 30px;
}

.job3 {
  position: absolute;
  left: 25%;
  top: 45%;
  transform: translateY(-50%);
  font-size: 23px;
}

/*.screen i {
  position: absolute;
  left: 13%;
  top: 20%;
  font-size: 25px;
  transform: translateY(-50%);
}*/
